.footer {
    background-color: rgb(30,30,30);
    color: white;

    span {
        color: inherit;
    }

    &__main {
        padding: 3rem 0;
    }

    &__bottom {
        background-color: rgb(15,15,15);
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

ul.contacts {
    list-style: none;
    margin-left: 0;

    li {
        svg {
            width: 15px;
            height: 15px;
            margin-right: 10px;
            position: relative;
            top: 2px;

            path {
                fill: orange;
            }
        }
    }
}

.footer-title {
    margin-bottom: 1.5rem;
}

ul#footer-links {
    flex-direction: column;
    margin-top: -0.5rem;

    li {
        display: block;

        a {
            padding: 0.5rem 1rem;
        }

        &.active a {
            background: transparent;
        }
    }
}