.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0,0,0,0.5);

    @include breakpoint (large down) {
        background-color: black;
    }

    .top-bar {
        height: 120px;
        background: transparent;
        transition: 300ms ease;

        @include breakpoint (large down) {
            height: 60px;
        }

        //.logo {
        //    height: 100%;
        //}

        .logo-text {
            font-family: 'Sacramento', cursive;
            font-size: 5rem;
            color: white;
            line-height: 1;

            @include breakpoint (large down) {
                font-size: 3rem;
            }

            &:hover {
                font-size: 4.5rem;
                text-decoration: none;

                @include breakpoint (large down) {
                    font-size: 2.5rem;
                }
            }
        }

        ul {
            background: transparent;
        }

        &-left, &-right {
            height: 100%;
            display: flex;
            align-items: center;

            @include breakpoint (large down) {
                flex: 0 0 50%;
            }
        }

        &-right {
            justify-content: flex-end;
        }
    }
}

header.fixed {
    background-color: black;

    .top-bar {
        height: 60px;
        .logo-text {
            font-size: 3rem;

            &:hover {
                font-size: 2.5rem;
            }
        }
    }
}

#main-nav {
    a {
        color: white;
        font-weight: 700;
        position: relative;

        &::after {
            position: absolute;
            left: 1rem;
            right: 1rem;
            bottom: 0.5rem;
            content: '';
            height: 2px;
            background-color: orange;
            opacity: 0;
            transition: opacity 300ms ease;
        }

        &:hover {
            color: orange;
            text-decoration: none;

            &::after {
                opacity: 1;
            }
        }
    }

    .active > a {
        background: transparent;
    }

    @include breakpoint (large down) {
        &:not(.active) {
            display: none;
        }

        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: black;
        width: 100%;
        padding: 3rem 2rem;
        text-align: center;

        li a:hover::after {
            content: none;
        }
    }
}

body.admin-bar {
    .header {
        top: 32px;
    }
}

.hamburger {
    cursor: pointer;

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }

    &.active {
        .bar:nth-child(2) {
            opacity: 0;
        }

        .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}