.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0,0,0,0.5);

    .top-bar {
        height: 120px;
        background: transparent;
        transition: 300ms ease;

        //.logo {
        //    height: 100%;
        //}

        .logo-text {
            font-family: 'Sacramento', cursive;
            font-size: 5rem;
            color: white;
            line-height: 1;

            &:hover {
                font-size: 4.5rem;
                text-decoration: none;
            }
        }

        ul {
            background: transparent;
        }

        &-left, &-right {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
}

header.fixed {
    background-color: black;

    .top-bar {
        height: 60px;
        .logo-text {
            font-size: 3rem;

            &:hover {
                font-size: 2.5rem;
            }
        }
    }
}

#main-nav {
    a {
        color: white;
        font-weight: 700;
        position: relative;

        &::after {
            position: absolute;
            left: 1rem;
            right: 1rem;
            bottom: 0.5rem;
            content: '';
            height: 2px;
            background-color: orange;
            opacity: 0;
            transition: opacity 300ms ease;
        }

        &:hover {
            color: orange;
            text-decoration: none;

            &::after {
                opacity: 1;
            }
        }
    }

    .active > a {
        background: transparent;
    }
}

body.admin-bar {
    .header {
        top: 32px;
    }
}