.contact-us {
    background-color: rgba(0,0,0,0.7);
    text-align: center;

    &__text {
        font-size: 4rem;
        font-weight: 700;
        color: orange;
        font-family: "Vujahday Script", cursive;

        @include breakpoint (medium down) {
            font-size: 3rem;
        }

        @include breakpoint(small only) {
            font-size: 2rem;
        }

        a {
            transition: all 300ms ease;
            line-height: 4rem;
            white-space: nowrap;

            &:hover {
                text-decoration: none;
                font-size: calc(4rem + 10px);
                color: white;
                margin: -10px;
            }
        }
    }
}